body {
    background-color: #bee0d3;
    /* color: #026670; */
    color: #0C3C26;
}

label {
    text-align: right;
    width: 75px;
    padding-right: 20px;
}

br {
    clear: left;
}
.navbar-bg{
    /* background-color: #14A098; */
    background-color: #0C3C26;
}
a{
    color: #fff;
}
.navbar-light .navbar-nav .nav-link.active {
    color: #fff;
    font-weight: 600;
}
.navbar-light .navbar-nav .nav-link{
    color: #fff;
    font-weight: 600;
    margin: auto;

}
.navbar-light .navbar-nav .nav-link.active {
    font-weight: 600;
}
.navbar-light .navbar-nav .nav-link:hover{
    color: #41b085;
}


#container {
    /* height: 500px;  */
    /* min-width: 310px; */
    max-width: 1200px;
    margin: 0 auto; 

}
.loading {
    margin-top: 10em;
    text-align: center;
    color: #41b085;
}
.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}



.hello-msg{
    font-size: 18px;
    color: #fff;
    margin: auto;
}



/* all products card */
.card{
    background:#0C3C26;
    color:#fff;
}
.product_price_quantity{
    background-color: #fff;
    color: #0C3C26;
    padding: 2%;
    border: 2px solid;
    border-radius: 13%;
}
.card-footer:last-child {
    border-radius: 0;
}

/* Login/Register */
.user_card{
    background: #0C3C26;
    color: #fff;
    width: 600px;
    margin-top: 2%;
    margin-bottom: auto;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    margin-top: 2%;
}

.btn-success{
    /* background: #41b085; */
}
#form-title{
    color: #fff;
}
.login_btn {
    width: 100%;
    background: #41b085 !important;
    color: #fff !important;
}

.login_container,
.product_container,
.purchase_container {
    padding: 0 2rem;
}
.input-group-text {
    background: #fff !important;
    color: #41b085 !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_user,
.input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
}


.product_card{
    background: #0C3C26;
    color: #fff;
    width: 500px;
    margin-top: 2%;
    margin: auto;
    justify-content: center;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

.checkout{
    background: #0C3C26;
    color: #fff;
    width: auto;
    max-width: 900px;
    margin-top: 2%;
    justify-content: center;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

.profile_card{
    background: #0C3C26;
    color: #fff;
    width: auto;
    max-width: 500px;
    margin-top: 2%;
    justify-content: center;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

/* Bag */

/* .bg-bag{
    background: #41b085;
} */