body {
    /* background-color: #46344E; */
    /* color: #026670; */
}

.navbar-bg{
    /* background-color: #14A098; */
    background-color: #8D8741;
}
.navbar-light .navbar-nav .nav-link.active {
    color: #1A1A1D;
    font-weight: 600;
}
.navbar-light .navbar-nav .nav-link{
    color: #FBEEC1;
    font-weight: 600;

}
.navbar-light .navbar-nav .nav-link.active {
    font-weight: 600;
}
.navbar-light .navbar-nav .nav-link:hover{
    color: #1A1A1D;
}


#container {
    /* height: 500px;  */
    /* min-width: 310px; */
    max-width: 1200px;
    margin: 0 auto; 

}
.loading {
    margin-top: 10em;
    text-align: center;
    color: gray;
}
.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}
