{% extends 'base.html'%}
{% load static %}

{% block content %}
<div class="container " style="width:100%;">
    <div class="row">
        {% comment %} <div class="col-md-4 my-4">
            <form method="post">
                {% csrf_token %}
                {{ form }}
                <button type="submit">Submit</button>
            </form>
        </div> {% endcomment %}
        {% for message in messages %}
            <p class="bg-info text-center">{{ message }}</p>
        {% endfor %}
        <div class="col-md-12 mt-4 bag_bg bag_list">
            <h4 class="d-flex justify-content-between align-items-center my-3">
                <span class="text-muted">Your Bag</span>
                    <span class="badge badge-secondary badge-pill">{{ products | length }}
                    {% if products|length == 1 %}
                        Item in bag
                    {% else %}
                        Items in bag
                    {% endif %}
                    </span>
            </h4>
                {% comment %} {% if products == 0 %}
                    <h1>cart is empty</h1>
                {% endif %} {% endcomment %}
            <!-- Cart -->
            <ul class="list-group mb-3 z-depth-1 ">
                {% for product in products %}
                <li class="list-group-item d-flex justify-content-between lh-condensed" style="max-height: 200px; margin-bottom:1px;">
                    {% if product.image %}
                    <div class="float-left col-md-3" style="">
                        <img class="card-img-top img-fluid" src="{{MEDIA_URL}}{{ product.image }}" alt="{{ product.name }}"
                            onmouseover="this.src='{{MEDIA_URL}}{{ product.image_2 }}';"
                            onmouseout="this.src='{{MEDIA_URL}}{{ product.image }}';"
                            style="max-height: 150px; max-width:100px;">
                        {% else %}
                        <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                    {% endif %}
                    </div>
                    <div class="col-md-2">
                        <h6 class="bag-title my-0 float-left">{{ product.name }}</h6>
                        <br>
                        <small>Color: {{ product.color }}</small>
                    </div>
                    <div class="col-md-2" >
                        <h6 class="bag-title my-0 float-left">Price</h6>
                        <br>
                        <small>${{ product.price }}</small>
                    </div>
                    <div class="col-md-3 text-center">
                        <h6 class="bag-title product-quantity" value="{{ product.quantity }}">Quantity: {{ product.quantity }}</h6>
                        <div class="" style="text-align:center;">
                        {% if product.quantity == 0 %}
                            <button class="add-product btn-secondary btn-sm my-1" style="float:right; border:none;"  id="{{ product.id }}" value="{{ product.quantity }}"><i class="fas fa-plus"></i></button>
                        {% elif product.number_in_stock == product.quantity %}
                            <button class="minus-product btn  btn-secondary btn-sm my-1" style="float:left; border:none;" id="{{ product.id }}" value="{{ product.quantity }}"><i class="fas fa-minus"></i></button>
                        {% else %}
                            <button class="minus-product btn  btn-secondary btn-sm my-1" style="float:left; border:none;" id="{{ product.id }}" value="{{ product.quantity }}"><i class="fas fa-minus"></i></button>
                            <button class="add-product btn-secondary btn-sm my-1" style="float:right; border:none;"  id="{{ product.id }}" value="{{ product.quantity }}"><i class="fas fa-plus"></i></button>
                        
                        {% endif %}
                            <br>
                        </div>
                        <a href="{% url 'remove_from_bag' product.id %}" class="btn btn-danger btn-sm w-100">Remove</a>

                    </div>
                    <div class="col-md-2" style="text-align:right;">
                        <h6 class="bag-title my-0">Total Price</h6>
                        <small class="" style="margin-top:10px;">${{ product.item_total_price |floatformat:2 }}</small>
                    </div>
                </li>
                {% endfor %}
            </ul>
            <li class="list-group-item d-flex justify-content-between">
                <span>Total (USD)</span>
                <strong>{% if request.session.grand_total %}$ {{ request.session.grand_total |floatformat:2 }}{% else %}$0{% endif %}</strong>
            </li>

            <h4 class="d-flex justify-content-between align-items-center my-3">
                <a href="{% url 'checkout' %}"class="btn btn-success ml-auto">Proceed to Checkout</a>
            </h4>
            
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $(".minus-product").on("click", function(){ 
            let updated_value = Number(this.value);     
            $.ajax({
                url: "adjust/" + this.id + "/" + updated_value + "/minus",
                async: true,
                success: function(result){
                        console.log(result.status)
                        if(result.status == "success"){
                            location.reload(true);
                        }else{
                            location.reload(false);
                        }
                    },
                error: function(data){
                    if(data.success == false){
                        console.log(data)
                        
                    }
                }
            });
            
        });

        $(".add-product").on("click", function(){
            let updated_value = Number(this.value);
            $.ajax({
                url: "adjust/" + this.id + "/" + updated_value + "/add",
                async: true,
                success: function(result){
                    console.log(result.status)
                    if(result.status == "success"){
                        location.reload(true);
                    }else{
                        location.reload(false);
                    }
                },
                error: function(data){
                    if(data.success == false){
                        console.log(data)
                        
                    }
                }
            });
            
        });
    });
</script>
{% endblock %}
