{% extends 'base.html'%}
{% load static %}
{% load tz %}
{% block content %}
<div class="container">
    <div class="row">
        {% for order in customers_order %}
        {% if order.order_items %}
        <div class="card col-sm-6 col-md-4 col-lg-4 col-xl-4 mt-2 mb-2 mx-auto" style="max-width:340px;">
                    <h3 class="text-center">Order Id {{ order.order.id }}</h3>
                    <div class="">
                        <h6 class="text-center mt-2">Items Ordered</h6>
                        <table class="table table-borderless order-confirmed-table">
                            <thead>
                                <tr>
                                <th scope="col">Image</th>
                                <th scope="col">Name</th>
                                <th scope="col">Color</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in order.order_items %}
                                <tr>
                                <td scope="row"><img class="img-fluid" style="max-width:40px;" src="{{ MEDIA_URL }}{{ item.item.image }}"/></td>
                                <td>{{ item.item.product_name }}</td>
                                <td>{{ item.item.color }}</td>
                                <td>{{ item.quantity }}</td>
                                <td>$ {{ item.line_total }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% localtime on %}
                        <p><span class="order-confirmed-label">Ordered Date</span> <span class="float-right">{{ order.order.ordered_date }}</span></p>
                        {% endlocaltime %}
                        <p><span class="order-confirmed-label">Order Total</span> <span class="float-right">$ {{ order.order.order_total }}</span></p>
                        <p><span class="order-confirmed-label">Date Dispatched</span> <span class="float-right">{{ order.order.date_dispatched }}</span></p>
                        <div class="text-center mx-auto"> 
                            <a class="btn btn-success btn-sm m-2" href="{% url 'place_order_again' order.order.id %}">Place Order Again</a>
                        </div>
                    </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}