{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    {% block corecss %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}
    {% block corejs %}
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
    <!-- High Charts js -->
    <script src="https://code.highcharts.com/maps/highmaps.js"></script>
    <script src="https://code.highcharts.com/maps/modules/data.js"></script>
    <script src="https://code.highcharts.com/maps/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/maps/modules/offline-exporting.js"></script>
    <script src="https://code.highcharts.com/mapdata/custom/world.js"></script>

    {% endblock %}
    {% block extra_js %}
    {% endblock %}
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-light navbar-bg">
        <a href="#" class="navbar-brand">
            <img src="#"" height=" 28" alt="">
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <a href="{% url 'map' %}" class="nav-item nav-link active">Home</a>
                <a href="{% url 'products' %}" class="nav-item nav-link">Products</a>
                <a href="#" class="nav-item nav-link">Messages</a>
            </div>
            <div class="navbar-nav ml-auto">
                <a href="#" class="nav-item nav-link">Login</a>
                <a href="#" class="nav-item nav-link">Register</a>
                <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link"
                    href="{% url 'view_bag' %}">
                    <div class="text-center">
                        <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                        <p class="my-0">
                            {% if grand_total %}
                            ${{ grand_total|floatformat:2 }}
                            {% else %}
                            $0.00
                            {% endif %}
                        </p>
                    </div>
                </a>
            </div>
        </div>
    </nav>
    {% block content %}

    {% endblock%}
    {% block postloadjs %}
    <script type="text/javascript">
        var path = window.location.href; // because the 'href' property of the DOM element is the absolute path
        $('navbar a').each(function () {
            console.log(this)
            if (this.href === path) {
                $(this).addClass('active');
            }
        });
    </script>
    {% endblock %}

</body>

</html>