body {
    background-color: #bee0d3;
    color: #0C3C26;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    padding-bottom: 3.75rem;
    margin: 0 0 2.5rem;

}
html{
    position: relative;
    min-height: 100%;
}


label {
    text-align: right;
    width: 4.688rem;
    padding-right: 1.25rem;
}

br {
    clear: left;
}
/* navbar */
.navbar-bg{
    background-color: #0C3C26;
}
a{
    color: #fff;
}
.btn {
    font-weight: 600;
}
.navbar-light .navbar-nav .nav-link.active {
    color: #fff;
    font-weight: 600;
}
.navbar-light .navbar-nav .nav-link{
    color: #fff;
    font-weight: 600;
    margin: auto;

}

.navbar-light .navbar-nav .nav-link:hover{
    color: #41b085;
}
.navbar-toggler{
    background: #41b085;
}
/* footer */
.page-footer{
    background: #0C3C26;
    width: 100%;
    color: #fff;
    position: absolute;
}

a:hover{
    color: #41b085;
    text-decoration: none;
}
a{
    color: #fff;
    font-weight: 600;
}


#container {
    max-width: 75rem;
    margin: 0 auto; 

}
.loading {
    margin-top: 10rem;
    text-align: center;
    color: #41b085;
}
.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}



.hello-msg{
    color: #41b085;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    margin-right: 0.3rem;
    font-weight: 600;
}



/* all products card */
.card{
    background:#0C3C26;
    color:#fff;
}
.card-img-top{
    width:100%;
    height:auto;
}
.view_bag_button{
    margin-left: auto;
    margin-right: 1%;
}

@media(max-width: 576px){
    .all-products-image{
        width: 50% !important;
        height: 50% !important;
        margin: auto !important;
        margin-top: 4% !important;
    }
    .view_bag_button{
        margin-right: auto !important;
    }
    
}


.product_price_quantity{
    background-color: #bee0d3;
    color: #0C3C26;
    padding: 2%;
    border: 0.125rem solid;
    border-radius: 13%;
}
.qty_input{
    background: #bee0d3;
    border: 0.06rem solid #0C3C26;
}
.card-footer:last-child {
    border-radius: 0;
}

/* Login/Register */
.user_card{
    background: #0C3C26;
    color: #fff;
    width: 50rem;
    margin-top: 2%;
    margin-bottom: auto;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0.625rem;
    box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2), 0 0.375rem 1.25rem 0 rgba(0, 0, 0, 0.19);
    border-radius: 0.3rem;
    margin-top: 2%;
}
.user_card label{
    width: 12.5rem;
    text-align: left;
    padding: 0;
}
#form-title{
    color: #fff;
    text-align: center;
}
/* Buttons */
.btn-success{
    background: #41b085 !important;
    color: #fff !important;
    font-weight: 600;
}
.btn-success:hover{
    background: #179967 !important;
}
.login_btn {
    background: #41b085 !important;
    width: 100%;
    color: #fff;
    font-weight: 600;
}
.login_btn:hover{
    background: #179967 !important;
    color: #fff;
}

.login_container,
.product_container,
.purchase_container {
    padding: 0 2rem;
}

.input-group-text {
    background: #fff !important;
    color: #41b085 !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_user,
.input_pass:focus {
    box-shadow: none !important;
    outline: 0 !important;
}


.product_card{
    background: #0C3C26;
    color: #fff;
    width: 85%;
    margin-top: 2%;
    margin: auto;
    justify-content: center;
    padding: 0.625rem;
    box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2), 0 0.375rem 1.25rem 0 rgba(0, 0, 0, 0.19);
    border-radius: 0.3rem;
}
/* Checkout form */
.checkout{
    background: #0C3C26;
    color: #fff;
    width: auto;
    max-width: 56rem;
    justify-content: center;
    padding: 0.625rem;
    box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2), 0 0.375rem 1.25rem 0 rgba(0, 0, 0, 0.19);
    border-radius: 0.3rem;
}
.control-label{
    width: 7.5rem;
}

.profile_card{
    background: #0C3C26;
    color: #fff;
    width: 31.25rem;
    max-width: 31.25rem;
    margin-top: 2%;
    justify-content: center;
    padding: 0.625rem;
    box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2), 0 0.375rem 1.25rem 0 rgba(0, 0, 0, 0.19);
    border-radius: 0.3rem;
}

@media(max-width:820px){
    .billing_info{
        text-align: center;
    }
}

/* Bag */
.bag_bg{
    background: #0C3C26;
}

.product-quantity[value=0]{
    visibility: hidden;
}

#payment_form label{
    padding: 0;
    text-align: left;
}
#profile_form label{
    width: 9.375rem;
    padding: 0;
    text-align: left;
}
#profile_form input{
    width: 9.375rem;
}

/* Country input */
#sign_up_country input{
    width: 23.438rem;
}
#sign_up_country select{
    width: 23.438rem;
}
#profile_country{
    margin-top: 0.125rem;
}
#profile_country input{
    width: 9.375rem;
}
#profile_country select{
    width: 9.375rem;
}
#id_country{
    width: 12.5rem;
}

/* Password reset */
.all_auth_container{
    text-align: center;
    margin: auto;
    margin-top: 2%;
    background: #0C3C26;
    color: #fff;
    padding: .8rem;
    width: 37.5rem;
    height: auto;
}
.all_auth_container label{
    width: 12.5rem;
    text-align: left;
    padding: 0;
}
.all_auth_container input{
    width: 12.5rem;
    margin-bottom: 2%;
}
.all_auth_container ul{
    font-size: 0.75rem;
    list-style: none;
}

/* update product/add product */
.form_container label{
    text-align: left;
}

.control-label{
    width: 9.375rem;
}

@media(max-width: 576px){
    .bag_list{
        padding: 0.125rem;
    }
    .bag_list li{
        padding-left: 0.063rem;
        padding-right: 0.063rem;
    }
    .bag-title {
        font-size: 80%;
    }

}

/* Modals */
.modal-content{
    background: #0C3C26;
    color: #fff;
}
.modal-header{
    border-bottom: none;
}
.modal-footer{
    border-top: none;
}
.close {
    color: #fff;
}
.close:hover {
    color: #41b085;
}


/* Order confirmed */
.order-confirmed-page{
    background-color: #0C3C26;
    padding: .5rem;
    width: auto;
    margin: auto;
    color: #fff;
    margin-top: 2%;
}
#order-confirmed-title{
    color: #41b085;
}
.order-confirmed-page p{
    font-size: 1rem;
}
.order-confirmed-table{
    color: #fff;
    width: auto;
    margin: auto;
    margin-bottom: .4rem;
    margin-top: .4rem;
}
.order-confirmed-table th{
    color: #41b085;
    font-size: 1rem;
    padding: .5rem
}
.order-confirmed-table td{
    font-size: 0.75rem;
    padding: .5rem

}

.delivery-information ul{
    padding: 1.2rem;
}
.order-confirmed-label{
    color: #41b085;
}
.order-summary{
    padding: 1.2rem;
}