<form class="form add_to_bag_form_{{ product.id }} float-right mr-3"  style="margin-right:1rem;width:25%;" method="POST" action="{% url 'add_to_bag' product.id %}">
    {% csrf_token %}
    <div class="form-group ml-auto">
        <div class="input-group">
            <input class="form-control form-control-sm qty_input" type="number" name="quantity"
                value="1" min="1" max="99" data-item_id="{{ product.id }}"
                id="id_qty_{{ product.id }}">
        </div>
    </div>
    <input type="hidden" name="redirect_url" value="{{ request.path }}">
</form>
