{% extends 'base.html'%}
{% load static %}
{% block content %}
<div class="container">
    <div id="container" class="mb-4" style="">
        <div class="loading">
            <i class="icon-spinner icon-spin icon-large"></i>
            Loading data from our servers
        </div>
    </div>
    {{ country_data | json_script:"country_data" }}
    <div class="row">
        <a class="view_bag_button btn btn-success" href="{% url 'view_bag' %}">View Bag</a>
    </div>
    <div class="row">
        {% for product in products %}
        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mt-2 mb-2">
            <div class="card border-0">
                {% if product.image and product.image_2 %}
                <img class="all-products-image card-img-top img-fluid" src="{{MEDIA_URL}}{{ product.image }}" alt="{{ product.name }}"
                    onmouseover="this.src='{{MEDIA_URL}}{{ product.image_2 }}';"
                    onmouseout="this.src='{{MEDIA_URL}}{{ product.image }}';">
                
                {% else %}
                    <img class="all-products-image card-img-top img-fluid" src="{{MEDIA_URL}}{{ product.image }}" onmouseover="this.src='{{ MEDIA_URL }}noimage.png';"
                    onmouseout="this.src='{{ MEDIA_URL }}{{ product.image }}';" alt="{{ product.name }}">
                {% endif %}
                <div class="card-body text-center">
                    <h5>{{ product.product_name }}</h5>
                    {% if product.color == "" %}
                        <h6 class="card-title"><br></h6>
                    {% else %}
                        <h6 class="card-title">{{ product.color }}</h6>
                    {% endif %}
                    <div class=" product_price_quantity pb-2">
                        <div class="row">
                            <div class="col-md-12">
                                <span class="float-left ml-2">Price:</span>
                                <span  class="float-right mr-3">${{ product.price }}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <span  class="float-left ml-2 mt-1">Quantity: </span>
                                {% include "products/add_to_bag_form.html" %}
                            </div>
                        </div>
                        <div class="row">
                            {% if request.user.is_superuser %}
                            <div class="col-md-6 col-sm-12">
                                <a class="btn btn-info btn-sm px-3 mt-1" href="{% url 'update_product' product.id %}">Update</a>
                            </div>
                            {% if product.number_in_stock == 0 %}
                                <div class="col-md-6 col-sm-12">
                                    <a class="center btn btn-danger btn-sm add_to_bag  p-1 mt-1" disabled="disabled">Not in stock</a>
                                </div>
                                {% else %}
                                <div class="col-md-6 col-sm-12">
                                    <a class="btn btn-success btn-sm add_to_bag p-1 mt-1" id="{{ product.id }}" >Add to bag</a>
                                </div>
                            {% endif %}
                            
                            {% else %}
                                {% if product.number_in_stock == 0 %}
                                    <div class="col-md-12">
                                        <a class="center btn btn-danger btn-sm add_to_bag" disabled="disabled">Not in stock</a>
                                    </div>
                                    {% else %}
                                    <div class="col-md-12">
                                        <a class="center btn btn-success btn-sm add_to_bag" id="{{ product.id }}">Add to bag</a>
                                    </div>
                                {% endif %}
                            {% endif %}
                        </div>
                        
                    </div>
                    
                </div>
            </div>
        </div>
        {% endfor %}
        

    </div>
</div>

<script>

    $(".add_to_bag").click(function(e){
        let form = $(`.add_to_bag_form_${this.id}`)
        console.log(form)
        form.submit()
    });
</script>
{% endblock %}
{% block extra_js %}
{{ block.super }}

<script src="{% static 'map/js/map.js' %}"></script>

{% endblock %}

