{% extends 'base.html'%}
{% load static %}
{% block content %}
{% comment %} <div class="overlay"></div> {% endcomment %}
<div class="container" class="mt-2">
    <div id="container" class="mt-2 mb-4" style="">
        <div class="loading">
            <i class="icon-spinner icon-spin icon-large"></i>
            Loading data from our servers
        </div>
    </div>
    {{ country_data | json_script:"country_data" }}
        {% for message in messages %}
            <p class="bg-info text-center">{{ message }}</p>
        {% endfor %}
    <div class="row">
    
        {% for product in products %}
        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mt-3">
            <div class="card h-100 border-0">

                {% if product.image and product.image_2 %}
                <img class="card-img-top img-fluid" src="{{MEDIA_URL}}{{ product.image }}" alt="{{ product.name }}"
                    onmouseover="this.src='{{MEDIA_URL}}{{ product.image_2 }}';"
                    onmouseout="this.src='{{MEDIA_URL}}{{ product.image }}';" style="">
                {% elif product.image %}
                    <img class="card-img-top img-fluid" src="{{MEDIA_URL}}{{ product.image }}" onmouseover="this.src='{{ MEDIA_URL }}noimage.png';"
                    onmouseout="this.src='{{MEDIA_URL}}{{ product.image }}';"alt="{{ product.name }}" style="">
                {% else %}
                <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" onmouseover="this.src='{{ MEDIA_URL }}noimage.png';"
                    onmouseout="this.src='{{ MEDIA_URL }}noimage.png';"alt="{{ product.name }}">
                {% endif %}


                <div class="card-body text-center">
                    <h5>{{ product.product_name }}</h5>
                    {% if product.color == "" %}
                    <h6 class="card-title"><br></h6>
                    {% else %}
                    <h6 class="card-title">{{ product.color }}</h6>
                    {% endif %}
                    <div class="card-footer h-100">
                        <!-- <div class="row w-100"> -->
                        <div class="mx-auto" style="height:18%;">
                            <h8 class="float-left mt-1">Price:</h8><span
                                class="float-right mr-4">${{ product.price }}</span>
                        </div>
                        <div class="mx-auto" style="height:18%;">
                            <h8 class="float-left mt-1">Quantity:</h8><span
                                class="">{% include "products/add_to_bag_form.html" %}</span>
                        </div>
                        
                    </div>
                    
                </div>
            </div>
        </div>
        {% endfor %}
        

    </div>
</div>

{% endblock %}
{% block extra_js %}
{{ block.super }}

<script src="{% static 'map/js/map.js' %}"></script>

{% endblock %}

