{% extends 'base.html'%}
{% load static %}
{% block content %}

    <div class="container h-100 mt-3">
		<div class="justify-content-center h-100">
			<div class="product_card">
				<div class="justify-content-center">
					{% if product %}
                        <h3 class="text-center">Update Product</h3>
                    {% else %}
                        <h3 class="text-center">Add Product</h3>
                    {% endif %}
				</div>
				<div class="justify-content-center form_container">
					<form class="form-group mx-auto" method="POST" action="" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% for field in form %}
						<div class="input-group ">
							<div class="input-group-append mt-2 center">                                
								    {{ field.label }}
							</div><br>
                            <div class="mt-2 w-100">
							    {{ field }}
                            </div>
						</div>
                        {% endfor %}
                        <div class="d-flex justify-content-center mt-3 product_container">
                            {% if product %}
                                <button class="btn btn-info" type="submit">Update</button>
                                <a class="btn btn-danger ml-2"href="{% url 'delete_product' product.id %}">Delete</a>
                            {% else %}
                                <button class="btn btn-success" type="submit">Add</button>
                            {% endif %}
                        </div>
					</form>

				</div>
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
			</div>
            <div class="mx-auto mt-3">
                
            </div>
		</div>
	</div>
    

{% endblock %}