{% extends 'base.html'%}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container h-100 mt-3">
		<div class="justify-content-center h-100">
			<div class="product_card">
				<div class="justify-content-center">
					{% if product %}
                        <h3 class="text-center">Update Product</h3>
                    {% else %}
                        <h3 class="text-center">Add Product</h3>
                    {% endif %}
				</div>
				<div class="justify-content-center form_container">
					<form class="form-group mx-auto" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    {{ form.supplier.label }}
                                    <br>
                                    {{ form.supplier }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    {{ form.product_name.label }}
                                    <br>
                                    {{ form.product_name }}
                                </div>
                                <div class="col-md-6 mb-3">
                                    {{ form.price.label }}
                                    <br>
                                    {{ form.price }}
                                </div>
                                
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    {{ form.color.label }}
                                    <br>
                                    {{ form.color }}
                                </div>
                                <div class="col-md-6 mb-3">
                                    {{ form.number_in_stock.label }}
                                    <br>
                                    {{ form.number_in_stock }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    {{ form.image.label }}
                                    <br>
                                    {{ form.image }}
                                </div>
                                <div class="col-md-6 mb-3">
                                    {{ form.image_2.label }}
                                    <br>
                                    {{ form.image_2 }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 mb-3">
                                    <h8>Current image</h8>
                                    <br>
                                    <img class="img-fluid" style="height:6.25rem;" src="{{ form.instance.image.url }}" />
                                </div>
                                <div class="col-md-2  mb-3">
                                    <h8>Selected image</h8>
                                    <br>
                                    <img class="img-fluid" style="height:6.25rem;" id="id_image_image"/>
                                </div>
                                <div class="col-md-3 mb-3 offset-md-1">
                                    <h8>Current image</h8>
                                    <br>
                                    <img class="img-fluid" style="height:6.25rem;" src="{{ form.instance.image_2.url }}" />
                                </div>
                                <div class="col-md-2 mb-3">
                                    <h8>Selected image</h8>
                                    <br>
                                    <img class="img-fluid" style="height:6.25rem;" id="id_image_2_image"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 mb-3">
                                    <div class="form_errors">{{ form_errors }}</div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-center mt-3 product_container">
                                {% if product %}
                                    <button class="btn btn-info" type="submit">Update</button>
                                    <a class="btn btn-danger ml-2" data-toggle="modal" data-target="#deleteProduct">Delete</a>
                                {% else %}
                                    <button class="btn btn-success" type="submit">Add Product</button>
                                {% endif %}
                            </div>
					</form>

				</div>
		</div>
	</div>
    {% if product %}
    <div class="modal fade" id="deleteProduct" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteProductLabel">Delete Product</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="deleteForm" method="POST" action="{% url 'delete_product' product.id %}">
                        {% csrf_token %}
                        <h6>Are you sure you want to remove this product</h6>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="delete-form btn btn-danger ml-auto" type="submit">Confirm</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}
{% block postloadjs %}
    <script>
        let form = $("#deleteForm")
        $(".delete-form").click(function(){
            form.submit()
        })

        $("#id_image").change(function(input){
            readURL(this)
        })
        $("#id_image_2").change(function(input){
            readURL(this)
        })

        function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            output = "#" + input.id + "_image"
            reader.onload = function(e) {
                $(output).attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
            }
        }
    </script>
{% endblock %}