{% extends 'base.html'%}
{% load static %}

{% block content %}
<div id="container">
    <div class="loading">
        <i class="icon-spinner icon-spin icon-large"></i>
        Loading data from Google Spreadsheets...
    </div>
</div>
{% endblock %}
{% block extra_js %}
{{ block.super }}
<script type="text/javascript">
    let country_data = "{{ country_data}}"
    var json = [{
        "country": "Ireland",
        "code": "IRL",
        "Confirmed": "3000",
        "Deaths": "100",
        "Recovered": "2900",
    }, {
        "country": "England",
        "code": "ENG",
        "Confirmed": "3000",
        "Deaths": "100",
        "Recovered": "2900",

    }];
    Highcharts.data({
        googleSpreadsheetKey: '1WBx3mRqiomXk_ks1a5sEAtJGvYukguhAkcCuRDrY1L0',
        // Custom handler when the spreadsheet is parsed
        parsed: function (columns) {
            // Read the columns into the data array
            //Highcharts.each(columns[0], function (code, i) {
            //    data.push({
            //        code: code.toUpperCase(),
            //        value: parseFloat(columns[2][i]),
            //        name: columns[1][i]
            //    }); 
            // });
            // Initiate the chart
            Highcharts.mapChart('container', {
                chart: {
                    map: 'custom/world',
                    borderWidth: 1
                },

                colors: ['rgba(19,64,117,0.05)', 'rgba(19,64,117,0.2)', 'rgba(19,64,117,0.4)',
                    'rgba(19,64,117,0.5)', 'rgba(19,64,117,0.6)', 'rgba(19,64,117,0.8)', 'rgba(19,64,117,1)'],

                title: {
                    text: 'Population density by country (/km²)'
                },

                mapNavigation: {
                    enabled: true
                },

                legend: {
                    title: {
                        text: 'Individuals per km²',
                        style: {
                            color: ( // theme
                                Highcharts.defaultOptions &&
                                Highcharts.defaultOptions.legend &&
                                Highcharts.defaultOptions.legend.title &&
                                Highcharts.defaultOptions.legend.title.style &&
                                Highcharts.defaultOptions.legend.title.style.color
                            ) || 'black'
                        }
                    },
                    align: 'left',
                    verticalAlign: 'bottom',
                    floating: true,
                    layout: 'vertical',
                    valueDecimals: 0,
                    backgroundColor: ( // theme
                        Highcharts.defaultOptions &&
                        Highcharts.defaultOptions.legend &&
                        Highcharts.defaultOptions.legend.backgroundColor
                    ) || 'rgba(255, 255, 255, 0.85)',
                    symbolRadius: 0,
                    symbolHeight: 14
                },

                colorAxis: {
                    dataClasses: [{
                        to: 499
                    }, {
                        from: 500,
                        to: 1999
                    }, {
                        from: 2000,
                        to: 4999
                    }, {
                        from: 5000,
                        to: 9999
                    }, {
                        from: 10000,
                        to: 24999
                    }, {
                        from: 25000,
                        to: 49999
                    }, {
                        from: 50000
                    }]
                },

                series: [{
                    data: createSeries(json),
                    joinBy: ['iso-a3', 'code'],
                    animation: true,
                    name: 'Corona cases',
                    states: {
                        hover: {
                            color: '#a4edba'
                        }
                    },
                    tooltip: {
                        valueSuffix: 'banana'
                    },
                    shadow: false
                }]
            })
        },
        error: function () {
            document.getElementById('container').innerHTML = '<div class="loading">' +
                '<i class="icon-frown icon-large"></i> ' +
                'Error loading data from Google Spreadsheets' +
                '</div>';
        }
    });




    //Highcharts.each(columns[0], function (code, i) {
    //    data.push({
    //        code: code.toUpperCase(),
    //        value: parseFloat(columns[2][i]),
    //        name: columns[1][i]
    //    }); 
    // });
    function createSeries(json) {
        var xxx = [];
        json.forEach(function (obj) {
            console.log(xxx);
            xxx.push({
                name: obj["country"],
                code: obj["code"],
                Confirmed: obj["Confirmed"],
                Deaths: obj["Deaths"],
                Recovered: obj["Recovered"]
            });
        });
        return data;
    }

</script>
{% endblock %}