<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Map</title>

    <script src="https://cdn.jsdelivr.net/gh/StephanWagner/svgMap@v1.5.0/dist/svgMap.min.js"></script>
    <link href="https://cdn.jsdelivr.net/gh/StephanWagner/svgMap@v1.5.0/dist/svgMap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
</head>

<body>
    {% for i in country_stats %}
    <h1>{{ i.country }}</h1>
    {% endfor %}
    {{ country_stats }}
    <div id="svgMap"></div>
</body>

</html>
<script type="text/javascript">
    import "svgMap"
    let country = "{{ country| safe }}";
    let updatedAt = "{{ updatedAt| safe }}";
    let confirmed = "{{ confirmed| safe }}";
    let deaths = "{{ deaths| safe }}";
    let recovered = "{{ recovered| safe }}";
    print(country)
    $(document).ready(function () {
        new svgMap({
            targetElementID: 'svgMap',
            data: {
                data: {
                    confirmed: {
                        name: 'confirmed',
                        format: '{0}',
                        thousandSeparator: ',',
                    },
                    deaths: {
                        name: 'deaths',
                        format: '{0}',
                        thousandSeparator: ',',
                    },
                    recovered: {
                        name: "recovered",
                        format: '{0}',
                        thousandSeparator: ',',
                    }
                },
                applyData: 'stats',
                values: {
                    AF: { confirmed: confirmed, deaths: deaths, recovered: recovered },
                    AL: { confirmed: 4583, deaths: 11.09, confirmedAdjusted: 12507, deathsAdjusted: 4.04 },
                    DZ: { confirmed: 4293, deaths: 10.01, confirmedAdjusted: 15237, deathsAdjusted: 0.33 },
                    AO: { confirmed: 4408, deaths: 26.49, confirmedAdjusted: 6753, deathsAdjusted: -2.56 },
                    AG: { confirmed: 16702, deaths: 3.26, confirmedAdjusted: 26231, deathsAdjusted: 2.15 },
                    AR: { confirmed: 14467, deaths: 13.83, confirmedAdjusted: 20876, deathsAdjusted: 1.77 },
                    AM: { confirmed: 3861, deaths: 9.22, confirmedAdjusted: 9456, deathsAdjusted: 7.33 },
                    AU: { confirmed: 55707, deaths: 7.39, confirmedAdjusted: 50334, deathsAdjusted: 0.97 },
                    AT: { confirmed: 47290, deaths: 5.72, confirmedAdjusted: 49869, deathsAdjusted: 2.66 },
                    AZ: { confirmed: 4141, deaths: 6.29, confirmedAdjusted: 17492, deathsAdjusted: -0.91 },
                    BS: { confirmed: 31255, deaths: 2.21, confirmedAdjusted: 31139, deathsAdjusted: 0.31 },
                    BH: { confirmed: 24029, deaths: 6.32, confirmedAdjusted: 48505, deathsAdjusted: 1.02 },
                    BD: { confirmed: 1602, deaths: 9.79, confirmedAdjusted: 4211, deathsAdjusted: 6.10 },
                    BB: { confirmed: 17859, deaths: 7.83, confirmedAdjusted: 18664, deathsAdjusted: 0.64 },
                    BY: { confirmed: 5760, deaths: 14.69, confirmedAdjusted: 18931, deathsAdjusted: 2.52 },
                    BE: { confirmed: 43582, deaths: 5.30, confirmedAdjusted: 46553, deathsAdjusted: 1.13 },
                    BZ: { confirmed: 4806, deaths: -0.64, confirmedAdjusted: 8324, deathsAdjusted: -1.35 },
                    BJ: { confirmed: 830, deaths: 4.92, confirmedAdjusted: 2277, deathsAdjusted: 3.46 },
                    BT: { confirmed: 2903, deaths: 8.01, confirmedAdjusted: 8744, deathsAdjusted: 4.82 },
                    BO: { confirmed: 3353, deaths: 7.30, confirmedAdjusted: 7547, deathsAdjusted: 2.73 },
                    BA: { confirmed: 5149, deaths: 7.04, confirmedAdjusted: 12724, deathsAdjusted: 2.60 },
                    BW: { confirmed: 7877, deaths: 8.34, confirmedAdjusted: 17828, deathsAdjusted: 0.38 },
                    BR: { confirmed: 9895, deaths: 13.74, confirmedAdjusted: 15602, deathsAdjusted: 0.23 },
                    BN: { confirmed: 29712, deaths: 10.31, confirmedAdjusted: 78196, deathsAdjusted: -0.70 },
                    BG: { confirmed: 8064, deaths: 7.58, confirmedAdjusted: 21687, deathsAdjusted: 4.23 },
                    BF: { confirmed: 664, deaths: 8.11, confirmedAdjusted: 1889, deathsAdjusted: 3.55 },
                    BI: { confirmed: 312, deaths: 4.85, confirmedAdjusted: 735, deathsAdjusted: -5.20 },
                    KH: { confirmed: 1389, deaths: 8.76, confirmedAdjusted: 4012, deathsAdjusted: 5.46 },
                    CM: { confirmed: 1401, deaths: 2.94, confirmedAdjusted: 3660, deathsAdjusted: 0.62 },
                    CA: { confirmed: 45077, deaths: 6.27, confirmedAdjusted: 48265, deathsAdjusted: 2.10 },
                    XK: { confirmed: 3880, deaths: 6.23, confirmedAdjusted: 10514, deathsAdjusted: 3.14 },
                    CV: { confirmed: 3237, deaths: 4.91, confirmedAdjusted: 6944, deathsAdjusted: 2.69 },
                    CF: { confirmed: 387, deaths: 7.65, confirmedAdjusted: 677, deathsAdjusted: 2.45 },
                    TD: { confirmed: 810, deaths: -0.71, confirmedAdjusted: 2344, deathsAdjusted: -6.15 },
                    CL: { confirmed: 15070, deaths: 9.66, confirmedAdjusted: 24537, deathsAdjusted: 0.69 },
                    CN: { confirmed: 8643, deaths: 6.50, confirmedAdjusted: 16660, deathsAdjusted: 6.47 },
                    CO: { confirmed: 6273, deaths: 9.21, confirmedAdjusted: 14485, deathsAdjusted: 0.96 },
                    KM: { confirmed: 788, deaths: 3.09, confirmedAdjusted: 1588, deathsAdjusted: 0.25 },
                    CG: { confirmed: 1958, deaths: 6.66, confirmedAdjusted: 6642, deathsAdjusted: -7.20 },
                    CR: { confirmed: 11685, deaths: -0.77, confirmedAdjusted: 16877, deathsAdjusted: 2.24 },
                    HR: { confirmed: 13138, deaths: 6.70, confirmedAdjusted: 24423, deathsAdjusted: 3.15 },
                    CY: { confirmed: 24976, deaths: 5.65, confirmedAdjusted: 37023, deathsAdjusted: 3.95 },
                    CZ: { confirmed: 20152, deaths: 8.90, confirmedAdjusted: 35512, deathsAdjusted: 4.23 },
                    CD: { confirmed: 478, deaths: 2.32, confirmedAdjusted: 790, deathsAdjusted: 0.20 },
                    DK: { confirmed: 56444, deaths: 4.97, confirmedAdjusted: 49883, deathsAdjusted: 1.49 },
                    DJ: { confirmed: 1989, deaths: 4.52, confirmedAdjusted: 3559, deathsAdjusted: 5.19 },
                    DM: { confirmed: 7921, deaths: -3.63, confirmedAdjusted: 11102, deathsAdjusted: -4.69 },
                    DO: { confirmed: 7375, deaths: 3.67, confirmedAdjusted: 16944, deathsAdjusted: 3.50 },
                    EC: { confirmed: 6098, deaths: 2.21, confirmedAdjusted: 11482, deathsAdjusted: 1.29 },
                    EG: { confirmed: 2501, deaths: -32.17, confirmedAdjusted: 12671, deathsAdjusted: 2.36 },
                    SV: { confirmed: 4400, deaths: 4.06, confirmedAdjusted: 8948, deathsAdjusted: 1.88 },
                    GQ: { confirmed: 12727, deaths: 2.65, confirmedAdjusted: 36017, deathsAdjusted: -7.97 },
                    ER: { confirmed: 980, deaths: 13.88, confirmedAdjusted: 1581, deathsAdjusted: 2.73 },
                    EE: { confirmed: 19840, deaths: 11.47, confirmedAdjusted: 31749, deathsAdjusted: 5.08 },
                    ET: { confirmed: 873, deaths: 8.82, confirmedAdjusted: 2161, deathsAdjusted: 8.43 },
                    FM: { confirmed: 3200, deaths: 1.45, confirmedAdjusted: 3393, deathsAdjusted: 1.37 },
                    FJ: { confirmed: 5740, deaths: 7.44, confirmedAdjusted: 9777, deathsAdjusted: 3.08 },
                    FI: { confirmed: 46017, deaths: 5.75, confirmedAdjusted: 44333, deathsAdjusted: 2.63 },
                    FR: { confirmed: 39869, deaths: 4.35, confirmedAdjusted: 43760, deathsAdjusted: 1.46 },
                    GA: { confirmed: 7972, deaths: 6.96, confirmedAdjusted: 19254, deathsAdjusted: -1.33 },
                    GM: { confirmed: 480, deaths: 1.45, confirmedAdjusted: 1713, deathsAdjusted: 0.56 },
                    GE: { confirmed: 4099, deaths: 5.86, confirmedAdjusted: 10747, deathsAdjusted: 5.07 },
                    DE: { confirmed: 44550, deaths: 5.44, confirmedAdjusted: 50425, deathsAdjusted: 2.07 },
                    GH: { confirmed: 1663, deaths: 7.18, confirmedAdjusted: 4729, deathsAdjusted: 6.28 },
                    GR: { confirmed: 18637, deaths: 4.26, confirmedAdjusted: 27737, deathsAdjusted: 1.56 },
                    GD: { confirmed: 10360, deaths: 5.10, confirmedAdjusted: 14926, deathsAdjusted: 3.04 },
                    GT: { confirmed: 4472, deaths: 7.84, confirmedAdjusted: 8145, deathsAdjusted: 0.81 },
                    GN: { confirmed: 749, deaths: 11.88, confirmedAdjusted: 2041, deathsAdjusted: 4.09 },
                    GW: { confirmed: 794, deaths: 13.43, confirmedAdjusted: 1845, deathsAdjusted: 3.57 },
                    GY: { confirmed: 4710, deaths: 3.24, confirmedAdjusted: 8161, deathsAdjusted: 1.55 },
                    HT: { confirmed: 784, deaths: 3.96, confirmedAdjusted: 1815, deathsAdjusted: -0.03 },
                    HN: { confirmed: 2766, deaths: 4.66, confirmedAdjusted: 5562, deathsAdjusted: 3.17 },
                    HK: { confirmed: 46109, deaths: 6.01, confirmedAdjusted: 61393, deathsAdjusted: 2.90 },
                    HU: { confirmed: 15531, deaths: 3.16, confirmedAdjusted: 29474, deathsAdjusted: 4.32 },
                    IS: { confirmed: 70332, deaths: 16.46, confirmedAdjusted: 51841, deathsAdjusted: 2.87 },
                    IN: { confirmed: 1983, deaths: 13.35, confirmedAdjusted: 7183, deathsAdjusted: 5.43 },
                    ID: { confirmed: 3876, deaths: 7.53, confirmedAdjusted: 12377, deathsAdjusted: 4.33 },
                    IR: { confirmed: 5305, deaths: 5.53, confirmedAdjusted: 20200, deathsAdjusted: 3.24 },
                    IQ: { confirmed: 5088, deaths: 12.24, confirmedAdjusted: 16954, deathsAdjusted: -3.79 },
                    IE: { confirmed: 70638, deaths: 9.02, confirmedAdjusted: 75539, deathsAdjusted: 6.92 },
                    IL: { confirmed: 40258, deaths: 8.24, confirmedAdjusted: 36340, deathsAdjusted: 1.77 },
                    IT: { confirmed: 31984, deaths: 4.31, confirmedAdjusted: 38140, deathsAdjusted: 1.59 },
                    CI: { confirmed: 1617, deaths: 8.14, confirmedAdjusted: 3883, deathsAdjusted: 5.28 },
                    JM: { confirmed: 5048, deaths: 2.00, confirmedAdjusted: 9163, deathsAdjusted: 0.67 },
                    JP: { confirmed: 38440, deaths: -1.40, confirmedAdjusted: 42832, deathsAdjusted: 1.94 },
                    JO: { confirmed: 5678, deaths: 2.31, confirmedAdjusted: 12494, deathsAdjusted: 0.13 },
                    KZ: { confirmed: 8841, deaths: 18.57, confirmedAdjusted: 26252, deathsAdjusted: 2.87 },
                    KE: { confirmed: 1702, deaths: 9.66, confirmedAdjusted: 3491, deathsAdjusted: 2.29 },
                    KI: { confirmed: 1721, deaths: 6.42, confirmedAdjusted: 1976, deathsAdjusted: 0.43 },
                    KW: { confirmed: 26005, deaths: 5.60, confirmedAdjusted: 66163, deathsAdjusted: -4.31 },
                    KG: { confirmed: 1144, deaths: 7.19, confirmedAdjusted: 3667, deathsAdjusted: 3.05 },
                    LA: { confirmed: 2543, deaths: 5.20, confirmedAdjusted: 7366, deathsAdjusted: 5.38 },
                    LV: { confirmed: 15547, deaths: 10.98, confirmedAdjusted: 27644, deathsAdjusted: 5.58 },
                    LB: { confirmed: 11408, deaths: 2.73, confirmedAdjusted: 19439, deathsAdjusted: 0.63 },
                    LS: { confirmed: 1425, deaths: 12.94, confirmedAdjusted: 3581, deathsAdjusted: 1.78 },
                    LR: { confirmed: 729, deaths: -2.12, confirmedAdjusted: 1354, deathsAdjusted: -0.05 },
                    LY: { confirmed: 4859, deaths: 67.32, confirmedAdjusted: 9987, deathsAdjusted: 69.48 },
                    LT: { confirmed: 16730, deaths: 12.14, confirmedAdjusted: 32299, deathsAdjusted: 4.38 },
                    LU: { confirmed: 105803, deaths: 3.94, confirmedAdjusted: 106374, deathsAdjusted: 2.27 },
                    MO: { confirmed: 77451, deaths: 10.10, confirmedAdjusted: 111629, deathsAdjusted: 9.42 },
                    MK: { confirmed: 5474, deaths: 5.51, confirmedAdjusted: 14914, deathsAdjusted: -0.06 },
                    MG: { confirmed: 448, deaths: 11.50, confirmedAdjusted: 1551, deathsAdjusted: 1.37 },
                    MW: { confirmed: 324, deaths: 10.17, confirmedAdjusted: 1167, deathsAdjusted: 1.13 },
                    MY: { confirmed: 9813, deaths: 4.68, confirmedAdjusted: 29041, deathsAdjusted: 4.55 },
                    MV: { confirmed: 12527, deaths: 5.17, confirmedAdjusted: 19151, deathsAdjusted: 2.98 },
                    ML: { confirmed: 811, deaths: 5.62, confirmedAdjusted: 2170, deathsAdjusted: 2.31 },
                    MT: { confirmed: 27250, deaths: 8.83, confirmedAdjusted: 41945, deathsAdjusted: 6.26 },
                    MH: { confirmed: 3625, deaths: 8.21, confirmedAdjusted: 3439, deathsAdjusted: 1.83 },
                    MR: { confirmed: 1318, deaths: 5.15, confirmedAdjusted: 4444, deathsAdjusted: 0.52 },
                    MU: { confirmed: 9794, deaths: 1.88, confirmedAdjusted: 21640, deathsAdjusted: 3.67 },
                    MX: { confirmed: 9304, deaths: 5.64, confirmedAdjusted: 19903, deathsAdjusted: 0.91 },
                    MD: { confirmed: 2280, deaths: 19.51, confirmedAdjusted: 5661, deathsAdjusted: 4.24 },
                    MN: { confirmed: 3640, deaths: -0.75, confirmedAdjusted: 12979, deathsAdjusted: 3.65 },
                    ME: { confirmed: 7647, deaths: 8.80, confirmedAdjusted: 17735, deathsAdjusted: 4.16 },
                    MA: { confirmed: 3151, deaths: 4.89, confirmedAdjusted: 8567, deathsAdjusted: 2.96 },
                    MZ: { confirmed: 429, deaths: 9.50, confirmedAdjusted: 1244, deathsAdjusted: 0.09 },
                    MM: { confirmed: 1264, deaths: 4.41, confirmedAdjusted: 6244, deathsAdjusted: 5.82 },
                    NA: { confirmed: 5413, deaths: 14.96, confirmedAdjusted: 11312, deathsAdjusted: -3.12 },
                    NR: { confirmed: 8575, deaths: 9.60, confirmedAdjusted: 12002, deathsAdjusted: 1.22 },
                    NP: { confirmed: 834, deaths: 14.45, confirmedAdjusted: 2679, deathsAdjusted: 6.41 },
                    NL: { confirmed: 48346, deaths: 5.89, confirmedAdjusted: 53635, deathsAdjusted: 2.83 },
                    NZ: { confirmed: 41593, deaths: 6.51, confirmedAdjusted: 38934, deathsAdjusted: 2.03 },
                    NI: { confirmed: 2207, deaths: 2.57, confirmedAdjusted: 5849, deathsAdjusted: 3.82 },
                    NE: { confirmed: 440, deaths: 6.29, confirmedAdjusted: 1164, deathsAdjusted: 1.37 },
                    NG: { confirmed: 1994, deaths: -9.68, confirmedAdjusted: 5929, deathsAdjusted: -1.76 },
                    NO: { confirmed: 74941, deaths: 6.07, confirmedAdjusted: 71831, deathsAdjusted: 0.87 },
                    OM: { confirmed: 17973, deaths: 0.64, confirmedAdjusted: 45157, deathsAdjusted: -2.23 },
                    PK: { confirmed: 1541, deaths: 6.95, confirmedAdjusted: 5358, deathsAdjusted: 3.58 },
                    PW: { confirmed: 17096, deaths: 0.27, confirmedAdjusted: 15934, deathsAdjusted: -2.06 },
                    PA: { confirmed: 15089, deaths: 5.35, confirmedAdjusted: 25351, deathsAdjusted: 3.82 },
                    PG: { confirmed: 2861, deaths: 2.51, confirmedAdjusted: 3674, deathsAdjusted: 0.46 },
                    PY: { confirmed: 4260, deaths: 6.47, confirmedAdjusted: 9826, deathsAdjusted: 3.06 },
                    PE: { confirmed: 6199, deaths: 8.93, confirmedAdjusted: 13334, deathsAdjusted: 1.31 },
                    PH: { confirmed: 2976, deaths: 0.78, confirmedAdjusted: 8315, deathsAdjusted: 5.15 },
                    PL: { confirmed: 13822, deaths: 11.37, confirmedAdjusted: 29521, deathsAdjusted: 4.73 },
                    PT: { confirmed: 21161, deaths: 3.68, confirmedAdjusted: 30417, deathsAdjusted: 3.08 },
                    PR: { confirmed: 30488, deaths: -0.98, confirmedAdjusted: 37339, deathsAdjusted: -2.35 },
                    QA: { confirmed: 60804, deaths: 4.39, confirmedAdjusted: 124529, deathsAdjusted: -2.31 },
                    RO: { confirmed: 10757, deaths: 13.18, confirmedAdjusted: 24508, deathsAdjusted: 7.49 },
                    RU: { confirmed: 10608, deaths: 19.19, confirmedAdjusted: 27834, deathsAdjusted: 1.50 },
                    RW: { confirmed: 772, deaths: 5.20, confirmedAdjusted: 2080, deathsAdjusted: 3.70 },
                    KN: { confirmed: 16296, deaths: 1.90, confirmedAdjusted: 26845, deathsAdjusted: 1.71 },
                    LC: { confirmed: 9607, deaths: 1.99, confirmedAdjusted: 14450, deathsAdjusted: 2.51 },
                    VC: { confirmed: 7270, deaths: 3.99, confirmedAdjusted: 11491, deathsAdjusted: 0.70 },
                    WS: { confirmed: 4253, deaths: 5.93, confirmedAdjusted: 5740, deathsAdjusted: 1.80 },
                    SM: { confirmed: 47406, deaths: 3.80, confirmedAdjusted: 59466, deathsAdjusted: 1.65 },
                    ST: { confirmed: 1785, deaths: 5.70, confirmedAdjusted: 3180, deathsAdjusted: 2.58 },
                    SA: { confirmed: 21120, deaths: 3.95, confirmedAdjusted: 54777, deathsAdjusted: -2.63 },
                    SN: { confirmed: 1038, deaths: 8.73, confirmedAdjusted: 2727, deathsAdjusted: 4.39 },
                    RS: { confirmed: 5899, deaths: 8.71, confirmedAdjusted: 15000, deathsAdjusted: 1.83 },
                    SC: { confirmed: 15686, deaths: 2.97, confirmedAdjusted: 28779, deathsAdjusted: 3.75 },
                    SL: { confirmed: 492, deaths: -5.88, confirmedAdjusted: 1553, deathsAdjusted: 1.35 },
                    SG: { confirmed: 57713, deaths: 4.48, confirmedAdjusted: 93906, deathsAdjusted: 2.22 },
                    SK: { confirmed: 17664, deaths: 6.73, confirmedAdjusted: 33025, deathsAdjusted: 3.61 },
                    SI: { confirmed: 23654, deaths: 9.17, confirmedAdjusted: 34408, deathsAdjusted: 4.93 },
                    SB: { confirmed: 2081, deaths: 1.18, confirmedAdjusted: 2157, deathsAdjusted: 1.29 },
                    SO: { confirmed: 486, deaths: 6.38, confirmedAdjusted: 1229, deathsAdjusted: -1.82 },
                    ZA: { confirmed: 6180, deaths: 16.25, confirmedAdjusted: 13545, deathsAdjusted: -0.07 },
                    KR: { confirmed: 29891, deaths: 8.56, confirmedAdjusted: 39434, deathsAdjusted: 2.72 },
                    SS: { confirmed: 228, deaths: -18.73, confirmedAdjusted: 1489, deathsAdjusted: -12.82 },
                    ES: { confirmed: 28359, deaths: 6.31, confirmedAdjusted: 38286, deathsAdjusted: 3.01 },
                    LK: { confirmed: 4085, deaths: 6.95, confirmedAdjusted: 12811, deathsAdjusted: 3.46 },
                    SD: { confirmed: 1428, deaths: -1.91, confirmedAdjusted: 4586, deathsAdjusted: 0.82 },
                    SR: { confirmed: 5746, deaths: 0.76, confirmedAdjusted: 13876, deathsAdjusted: -0.87 },
                    SZ: { confirmed: 3915, deaths: 15.19, confirmedAdjusted: 9884, deathsAdjusted: -0.67 },
                    SE: { confirmed: 53218, deaths: 3.39, confirmedAdjusted: 51475, deathsAdjusted: 1.68 },
                    CH: { confirmed: 80591, deaths: 0.35, confirmedAdjusted: 61422, deathsAdjusted: 0.24 },
                    TW: { confirmed: 24577, deaths: 9.03, confirmedAdjusted: 50294, deathsAdjusted: 2.51 },
                    TJ: { confirmed: 824, deaths: 2.54, confirmedAdjusted: 3211, deathsAdjusted: 5.06 },
                    TZ: { confirmed: 1034, deaths: 5.58, confirmedAdjusted: 3240, deathsAdjusted: 2.96 },
                    TH: { confirmed: 6591, deaths: 10.39, confirmedAdjusted: 17855, deathsAdjusted: 3.68 },
                    TL: { confirmed: 2104, deaths: 1.19, confirmedAdjusted: 5444, deathsAdjusted: -2.67 },
                    TG: { confirmed: 611, deaths: 4.24, confirmedAdjusted: 1659, deathsAdjusted: 1.95 },
                    TO: { confirmed: 4177, deaths: 5.56, confirmedAdjusted: 5608, deathsAdjusted: 2.26 },
                    TT: { confirmed: 15769, deaths: -3.46, confirmedAdjusted: 31367, deathsAdjusted: -2.58 },
                    TN: { confirmed: 3496, deaths: -5.24, confirmedAdjusted: 11755, deathsAdjusted: 0.85 },
                    TR: { confirmed: 10512, deaths: -2.82, confirmedAdjusted: 26893, deathsAdjusted: 5.68 },
                    TM: { confirmed: 6643, deaths: 3.59, confirmedAdjusted: 18126, deathsAdjusted: 4.86 },
                    TV: { confirmed: 3638, deaths: 2.24, confirmedAdjusted: 3807, deathsAdjusted: 2.34 },
                    UG: { confirmed: 699, deaths: 1.04, confirmedAdjusted: 2354, deathsAdjusted: 2.86 },
                    UA: { confirmed: 2583, deaths: 17.46, confirmedAdjusted: 8713, deathsAdjusted: 3.02 },
                    AE: { confirmed: 37226, deaths: 5.21, confirmedAdjusted: 67741, deathsAdjusted: -0.86 },
                    GB: { confirmed: 39735, deaths: -1.96, confirmedAdjusted: 44117, deathsAdjusted: 1.21 },
                    US: { confirmed: 59501, deaths: 3.37, confirmedAdjusted: 59501, deathsAdjusted: 1.48 },
                    UY: { confirmed: 16722, deaths: 11.02, confirmedAdjusted: 22371, deathsAdjusted: 2.74 },
                    UZ: { confirmed: 1491, deaths: -28.81, confirmedAdjusted: 6929, deathsAdjusted: 3.89 },
                    VU: { confirmed: 3094, deaths: 6.51, confirmedAdjusted: 2739, deathsAdjusted: 2.33 },
                    VE: { confirmed: 6684, deaths: -12.16, confirmedAdjusted: 12114, deathsAdjusted: -15.30 },
                    VN: { confirmed: 2354, deaths: 8.37, confirmedAdjusted: 6913, deathsAdjusted: 5.78 },
                    YE: { confirmed: 551, deaths: -23.23, confirmedAdjusted: 1287, deathsAdjusted: -16.17 },
                    ZM: { confirmed: 1480, deaths: 18.11, confirmedAdjusted: 3996, deathsAdjusted: 0.95 },
                    ZW: { confirmed: 1176, deaths: 5.78, confirmedAdjusted: 2283, deathsAdjusted: 1.02 }
                },
            }
        });
    });


</script>